
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.wrapper {
    width: 100%;
    height: auto;
}


.nav-bar {
    width: 100%;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15em 0 15em;
    background-color: #fff;
}

.nav-bar.sticky {
    position: fixed;
    top: 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.247);
    transition: 0.5s;
}

.link {
    height: 70px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 1em;
}

.link:hover {
    transition: 0.5s;
    color: aqua;
}

.title {
    font-size: 25pt;
    letter-spacing: 4px;
    font-weight: bold;
}

.title::after {
    position: absolute;
    content: "Music is my life";
    font-size: 9px;
    transform: translate(120px, 0px);
    background-color: rgba(81, 255, 255, 0.219);
    padding: 1em;
    border-radius: 14px;
    letter-spacing: 2px;
}

.title:hover {
    color: black;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    transition: 0.5s;
    position: relative;
    
}

.link-container.active {
    height: 100vh;
}

.hamburger {
    min-width: 50px;
    min-height: 50px;
    /* background-color: red; */
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    width: 30px;
    height: 2px;
    background-color: black;
    transition: 0.5s;
}

.hamburger-btn::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background-color: black;
    transform: translateY(-10px);
    transition: 0.5s;

}

.hamburger-btn::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
    transition: 0.5s;

}


.hamburger-btn.active {
    background-color: transparent;
}

.hamburger-btn.active::before {
    transform: rotate(-45deg);
}

.hamburger-btn.active::after {
    transform: rotate(45deg);
}


.my-section {
    width: 100%;
    height: 1000px;
}


.home-show-case {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-c-t.s_h {
    font-size: 40pt;
}

.s-c-t {
    font-size: 14pt;
}

.default-btn {
    width: 200px;
    height: 34px;
    background-color: blue;
    color: #fff;
    border-radius: 14px;
    border: none;
    outline: none;
    margin-top: 2em;
    font-size: 15pt;
}


/* ----------------------- About ------------------------- */
.wrapper_about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-plate {
    width: 500px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    padding: 2em;    
}

.profile-photo {
    width: 100%;
    height: 300px;
    background-color: green;
    
}

.profile {
    width: 100%;
    height: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile::after {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: yellow;
}