@media screen and (max-width: 1000px) {
  body {
    width: 100%;
  }

  .nav-bar {
    padding: 2em;
  }

  .hamburger {
    display: flex;
    z-index: 5;
  }

  .link-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.webp);
    background-size: cover;
    overflow: hidden;
  }

  .link-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60%;
  }

  .link-container a:hover {
    background-color: blue;
    transition: 0.5s;
  }
}
